*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* creating variable for colors in css */

:root {
    --bs-dark-color: #1a1d20;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #fff;
    --bs-dark-color: #c6c6c6;
    --secondary-color: #29a9fd;
    --bs-supporting-color: #c850c0;
}

h1 h2 h3 h4 h5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--bs-dark-color);
}

h1{
    font-size: 3.8rem;
}


h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}


button , a {
    font-size: 1.15rem!important;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}

/* .nav-item{
    padding: 17px 0px;
} */

.nav-item .nav-link {
    color: var(--bs-main-color);
    font-weight: bold;
    /* padding: px 0px; */
}

.nav-item .nav-link:hover {
    color: var(--secondary-color);
    /* color: white; */
}

/* .navbar{
    border-bottom: 1px solid black;
} */


/* hero section */

.hero-section .container{
    display: grid;
    place-content: center;
    height: inherit;
}

.bg-main{
    height: 90vh;
    position: relative;
}

.hero-video--section{
    /* max-width: 100%;
    height: auto; */
    width: 30rem;
    border-radius: 2rem;
}

.bg-color {
    background-color: rgb(67, 67, 255);
}

.bg-theme{
    color: var(--bs-supporting-color);
    background-image: none!important;
}



.custom-shape-divider-bottom-1720171500 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    outline: none;
    border: none;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1720171500 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 113px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1720171500 .shape-fill {
    fill: #FFFFFF;
}



.common-title{
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem!important;
}


/* .common-heading{
    margin-bottom: 4.2rem;
} */


.service-section{
    margin: 6rem 0 3rem 0;
}


.icon-span{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #1089ff;
    color: var(--bs-main-color);
}

.card-box:hover{
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

.more-info-section{
    background-image: linear-gradient(rgba(22,22,22,0.9),rgba(22,22,22,0.9)), url(./resources/company.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 6rem 0;
    overflow: hidden;
}


.text-color{
    color: white;
}

.business-section{
    padding-top: 3rem;
}

.common-section{
    padding: 0 0 9rem 0;
}

.carousel .card {
    background-color: #262631;
    color: white;
    transition: all 0.3 linear;

}

.carousel-inner .card p {
    color: white;
}

.carousel-inner .card:hover{
    background-color: #fff;
    color: #262631;
}

.carousel-inner .card p:hover {
    color: black;
}
.fa-star{
    color: var(--bs-supporting-color);
}


.carousel-indicators {
    bottom: -38px;
    /* margin-top: 30px; */
}

.carousel-indicators [data-bs-target] {
    width: 0.7rem;
    height: 0.7rem;
    background-color: var(--bs-supporting-color);
}














































